<h2>My preferred Doges:</h2>
<ul class="heroes">
  <li *ngFor="let doge of doges">
    <a routerLink="/detail/{{doge.id}}">
      <span class="badge">{{doge.id}}</span> {{doge.name}}
    </a>
    <button class="delete" title="delete hero"
            (click)="delete(doge)">x</button>
  </li>
</ul>

<div>
  <label>Doge name:
    <input #dogeName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(dogeName.value); dogeName.value=''">
    add
  </button>
</div>
